Repository xpadev-net/niconicomments-convert: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: yarn biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
      stage_fixed: true

Revert "修正: electron バックエンドを esm へ移行"
  build-script/mac.js
  build-script/win.js
  electron/lib/cookies/chromium.ts
  electron/store.ts
  electron/tsconfig.json
  esbuild.config.mjs
  lefthook.yml
  package.json
  src/@types/types.d.ts
  vite.config.mts
  yarn.lock
Due: lint, typecheck

feat: add CI workflow for linting, type checking, and building
  .github/workflows/ci.yml
Due: none

Add packageRules to disable patch updates
  renovate.json
Due: lint

chore: bump version to v0.0.32
  package.json
Due: lint

chore: upgrade dependencies
  yarn.lock
Due: none

chore: bump version to v0.0.33
  package.json
Due: lint

feat: 変換画面にドラッグアンドドロップでファイル選択機能を追加
  electron/dialog.ts
  electron/ipc-manager.ts
  electron/preload.ts
  electron/store.ts
  electron/type-guard.ts
  src/@types/request.controller.d.ts
  src/@types/response.controller.d.ts
  src/@types/types.d.ts
  src/controller/convert/convert.module.scss
  src/controller/convert/convert.tsx
  src/renderer/renderer.ts
  src/type-guard.ts
Due: lint, typecheck

fix: remove ts error
  electron/store.ts
Due: lint, typecheck

fix: expand drop area
  src/controller/convert/convert.module.scss
  src/controller/convert/convert.tsx
Due: lint, typecheck

fix: gemini reviewed points
  src/controller/convert/convert.tsx
Due: lint, typecheck

fix: reviewed codex points
  electron/dialog.ts
Due: lint, typecheck

feat: 型ガード関数をZodスキーマベースの実装に移行
  electron/type-guard.ts
  package.json
  src/type-guard.ts
  yarn.lock
Due: lint, typecheck

Apply suggestions from code review
  electron/type-guard.ts
  src/type-guard.ts
Due: lint, typecheck

chore: bump version to v0.0.34
  package.json
Due: lint

chore: migrate package manager from yarn to pnpm
  .github/workflows/ci.yml
  .github/workflows/create-release.yml
  .github/workflows/release.yml
  README.en.md
  README.md
  build-script/mac.js
  build-script/win.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: lint

fix: reorder pnpm setup before setup-node in release build jobs
  .github/workflows/release.yml
Due: none

fix: resolve pnpm setup order and clean up scripts
  .github/workflows/ci.yml
  .github/workflows/create-release.yml
  .github/workflows/release.yml
  lefthook.yml
  package.json
Due: lint

fix: regenerate pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: none

chore: set renovate minimumReleaseAge
  renovate.json
Due: lint

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: lint

fix: lint error
  electron/assets.ts
  electron/lib/niconico/utils.ts
  electron/lib/spawn.ts
  electron/store.ts
  electron/type-guard.ts
  src/controller/atoms.ts
  src/controller/comment-picker/local/local-comment-picker.tsx
  src/controller/comment-picker/remote/remote-comment-picker.tsx
  src/controller/controller.tsx
  src/controller/movie/movie.tsx
  src/controller/queue/comment-item.tsx
  src/controller/queue/convert-item.tsx
  src/controller/queue/queue.tsx
  src/controller/setting/auth/auth.tsx
  src/controller/setting/convert/convert.tsx
  src/downloader.tsx
  src/util/json.ts
  src/util/sleep.ts
  src/util/time.ts
  src/util/uuid.ts
Due: lint, typecheck

fix: add renderer error handling and fix build config
  build-script/win.js
  package.json
  pnpm-lock.yaml
  src/renderer/renderer.ts
Due: lint, typecheck

fix: add emptyBuffer fallback in process() catch block
  src/renderer/renderer.ts
Due: lint, typecheck

fix: throw on unrecoverable frame drop, move ansi-regex to devDeps
  package.json
  pnpm-lock.yaml
  src/renderer/renderer.ts
Due: lint, typecheck

fix: revert throw to logger.error in canvas.toBlob callback
  src/renderer/renderer.ts
Due: lint, typecheck

fix: defer inProgress=false until main process end acknowledgment
  src/renderer/renderer.ts
Due: lint, typecheck

fix: throw early if canvas emptyBuffer initialization fails
  src/renderer/renderer.ts
Due: lint, typecheck

fix: add sendFrame wrapper with emptyBuffer fallback on IPC failure
  src/renderer/renderer.ts
Due: lint, typecheck

fix: log distinct error when sendBlob with emptyBuffer fails with no fallback
  src/renderer/renderer.ts
Due: lint, typecheck

fix: track dropped frames and adjust end frameId
  src/renderer/renderer.ts
Due: lint, typecheck

fix: await pending IPC sends before dispatching end message
  src/renderer/renderer.ts
Due: lint, typecheck

fix: use explicit promise wrapper for canvas.toBlob, clear pending arrays
  src/renderer/renderer.ts
Due: lint, typecheck

fix: prune settled promise arrays at start of each process() batch
  src/renderer/renderer.ts
Due: lint, typecheck

chore: update lockfile
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

fix: workflow
  .github/workflows/ci.yml
Due: none

fix: ci
  .github/workflows/ci.yml
Due: none

fix: sync lockfile overrides with pnpm-workspace.yaml
  pnpm-lock.yaml
Due: none
