Repository xpadev-net/niconicomments-convert: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: yarn biome check --write --unsafe --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
      stage_fixed: true

fix: omit user_id attribute for owner comments in downloaded XML
  electron/lib/niconico/comments/comments.ts
Due: lint, typecheck

feat: ue/shitaを前面に描画するオプションを追加
  src/@types/options.d.ts
  src/@types/queue.d.ts
  src/controller/convert/convert.tsx
  src/renderer/prefer-fixed-loc.ts
  src/renderer/renderer.ts
Due: lint, typecheck

fix: commentLimitの間引き集合を維持し、描画順の回帰テストを追加
  .github/workflows/ci.yml
  package.json
  src/renderer/prefer-fixed-loc.d.ts
  src/renderer/prefer-fixed-loc.mjs
  src/renderer/prefer-fixed-loc.test.mts
  src/renderer/prefer-fixed-loc.ts
  src/renderer/renderer.ts
  tsconfig.json
Due: lint, typecheck

chore(renovate): set minimumReleaseAge to 7 days
  package.json
  renovate.json
Due: lint

fix(ci): let pnpm/action-setup read version from packageManager
  .github/workflows/ci.yml
  .github/workflows/create-release.yml
  .github/workflows/release.yml
Due: none

fix: apply lint
  electron/queue.ts
  src/@types/types.d.ts
Due: lint, typecheck
